.c-avatarItem {
  padding: 0px 10px;
  width: 100%;
  position: relative;
  
  &__img {
    width: 40px;
    height: 40px;
    border: solid 1px $border-grey;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
  }
}