.c-candidates-wrapper {
  
  background: #eaeaea;
  @include flex(1);
  min-height: 100%;
  &__list {
    width: 70%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    overflow-y: auto;
    min-height: 0px;
  }
}

.c-candidate {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  
  &--no-pointer {
    cursor: default;
  }
  &__avatar {
    width: 100px;
    display: inline-block;
    margin-right: 20px;
    & img {
      width: 100px;
      height: auto;
      border: solid 1px $border-grey;
      display: inline-block;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
  
  &__details-section {
    @include flex(1);
    
    &__header {
      @extend .u-t-link;
      font-size: 18px;
      font-weight: 600;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
