.c-header {
  background-color: #FFF;
  display: block;
  padding: 40px 20px 10px 20px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
  &__filters {
    margin-top: 100px;
    padding-left: 20px
  }
}
