.c-modal {
  position: fixed;
  width: 70%;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 10;
  &__overlay {
    position: fixed;
    width: 30%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.8;
    background: #FFF;
    z-index: 10;
  }
  
  &__body {
    width: 100%;
    height: 100%;
    background: $fill-color;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    
    &__close {
      margin: 10px;
      cursor: pointer;
    }
  }
  
}