.c-search {
  &__input {
    height: 35px;
    width: 250px;
    background-color: #ffffff;
    border: solid 1px #e6e6e6;
    color: $subtext-color;
    padding: 10px 30px 10px 20px;
    border-radius: 2px;
    outline: none;
    
    &:focus {
      border: solid 2px #e6e6e6;
    }
    
    &:focus + span + .c-search__list {
      display: block;
    }
    &:focus +  span + .c-search__list + .c-search__pointer:after {
      content: "";
      position: absolute;
      top: 31px;
      right: 13px;
      border-style: solid;
      border-width: 0px 10px 10px 10px;
      border-color: #FFF transparent;
      display: block;
      width: 0;
      z-index: 10;
    }
    
    &:focus + span + .c-search__list + .c-search__pointer:before 
    {
      content: "";
      position: absolute;
      top: 29px;
      right: 12px;
      border-style: solid;
      border-width: 0px 11px 11px 11px;
      border-color: $border-grey transparent;
      display: block;
      width: 0;
      z-index: 0;
    }
  }
  
  &__input-wrapper {
    position: relative;
  }
  
  &__label {
    font-weight: 600;
  }
  
  &__list {
    display: none;
    position: absolute;
    top: 25px;
    border: 1px solid #d7d8d7;
    box-shadow: 0 2px 4px 0px rgba(0,0,0,.5);
    z-index: 10;
    display: none;
    max-height: 210px;
    width: 250px;
    overflow: scroll;
    padding: 0px;
    cursor: pointer;
    
    &__avatar-item {
      @extend .u-t-ellipsis;
      background: #FFF;
      &:hover {
        background: $hover-light-blue;
      }
    }
    
    &__item {
      @extend .u-t-ellipsis;
      background: #FFF;
      &:hover {
        background: $hover-blue;
        color: white;
      }
      padding: 6px 14px;
    }
    
    &__loading {
      text-align: center;
      background: #FFF;
    }
  }
  
  
  &__icon {
    position: relative;
    float: right;
    margin-right: 5px;
    margin-top: -31px;
    font-size: 24px;
    color: $border-grey;
  }
  
  &__dropdown-icon {
    border: 1px solid $border-grey;
    background: #eaeaea;
    margin-right: 15px;
    padding: 1px 5px;
    color: #7d7d7d;
  }
}