html{
  height: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
  font-family: $base-font-family !important;
}

body {
  min-height: 100%;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.4;
  color: $default-font-color;
  background-color: #FFF;
  // to push footer at the bottom
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

a {
  font-size: $subtext-font-size;
  text-decoration: none;
  color: $dodger-blue;

  &.white {
    color: $fill-color;
  }

  &.no-underline {
    text-decoration: underline;
  }
}

i {
  font-family: $icon-family!important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
