$default-prefixes: webkit moz ms o;

@mixin prefix($property, $value, $prefixes: $default-prefixes) {
  // Usage: @include prefix(property, value)
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: #{$value};
  }
  #{$property}: #{$value};
}

@mixin transform($transforms) {
  @include prefix("transform", $transforms);
}

@mixin flex($value) {
  @include prefix("flex", $value);
}

@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}
