.u-t-center {
  text-align: center;
}

.u-t-right {
  text-align: right;
}

.u-t-left {
  text-align: left;
}

.u-f-right {
  float: right;
}

.u-f-left {
  float: left;
}

.u-base-font {
  font-size: $base-font-size;
}

.u-t-ellipsis {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.u-bg-white {
  background: white
}

.u-cushion {
  // Adds a standard padding of 10px on both sides
  padding: 0 10px;
  &-10--all {
    padding: 10px;
  }
  &-10--vertical {
    padding: 10px 0;
  }
  &-10--rectangle {
    padding: 10px 20px;
  }
  &-10--top {
    padding-top: 10px;
  }
  &-10--right {
    padding-right: 10px;
  }
  &-10--bottom {
    padding-bottom: 10px;
  }
  &-10--left {
    padding-left: 10px;
  }
}

.u-spacer {
  // Adds a standard margin of 10px on both sides
  margin: 0 10px;
  &-10--all {
    margin: 10px;
  }
  &-10--vertical {
    margin: 10px 0;
  }
  &-10--top {
    margin-top: 10px;
  }
  &-10--right {
    margin-right: 10px;
  }
  &-10--bottom {
    margin-bottom: 10px;
  }
  &-10--left {
    margin-left: 10px;
  }
  
  &-5--all {
    margin: 5px;
  }
  &-5--vertical {
    margin: 5px 0;
  }
  &-5--top {
    margin-top: 5px;
  }
  &-5--right {
    margin-right: 5px;
  }
  &-5--bottom {
    margin-bottom: 5px;
  }
  &-5--left {
    margin-left: 5px;
  }
  
  &--auto {
    margin: 0 auto;
  }
}

.u-text-font {
  @extend .u-t-left;
  letter-spacing: 0.5px;
  color: $blackish-grey;
  font-size: $base-font-size;
}

.u-text-font--small {
  @extend .u-text-font;
  font-size: 10px;
}
  
.u-text-font--large {
  @extend .u-text-font;
  @extend .u-t-ellipsis;
  font-size: 18px
}
  
.u-text-font--medium {
  @extend .u-text-font;
  font-size: 16px;
}

.u-subtext-font {
  @extend .u-t-left;
  letter-spacing: 0.5px;
  color: $subtext-color;
  font-size: $subtext-font-size;
}

.u-subtext-font--small {
  @extend .u-subtext-font;
  font-size: 10px
}

.u-subtext-font--italic {
  font-style: italic;
}

.u-t-link {
  font-size: 12px;
  color: $dodger-blue;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  
  &--no-underline:hover {
    text-decoration: none;
  }
}
