$default-font-color: #424242;
// -------------------------
// Colors
// -------------------------
$dodger-blue: #3fa9f5;
$hover-light-blue: #b6e1ff;
$hover-blue: #32b3c7;
$blackish-grey: #424242;
$border-grey : #cbcbcb;
$e-input-disabled: #F5F5F5;
$input-focused-color : #3fa9f5;
$subtext-color: #777777;
$fill-color: #FFFFFF;

$border-radius: 2px;

// Typography
$base-font-family: Open Sans;
$icon-family: FontAwesome;
$subtext-font-size: 12px;
$base-font-size: 14px;
