.o-card {
  width: 100%;
  background: $fill-color;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  
  &--separated {
    margin-top: 0;
    & + & {
      margin-top: 10px;
    }
  }
  
  &__section {
    padding: 15px;
  }
}