.o-tag {
  background: #f5f5f5;
  border: 1px solid #d7d8d7;
  display: inline-block;
  
  &__label {
    @extend .u-text-font;
    max-width: 200px;
    font-size: 12px;
    padding: 2px 5px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  &__icon {
    @extend .u-text-font;
    display: inline-block;
    cursor: pointer;
    margin: 0px 5px;
    @include translate(0,-40%);
  }
}